.input_wrapper {
    display: flex;
    flex-direction: column;

    margin-bottom: 16px;
}

.input, .input:focus {
    outline: none;
    appearance: none;
    border: none;
    width: 327px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    padding-left: 12px;
    color: inherit;
}

.input::placeholder {
    color: #000842;
    font-family: 'OpenSans';
}


.inputField_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    color: #000842;
    border-bottom: 2px solid #999;
}    
.inputField_wrapper_error {
    border-bottom: 2px solid #EB4335;
    color: #EB4335;
}

.label {
    color: #999;
    font-weight: 400;
    font-size: 13px;
    line-height: 17.7px;
    padding-bottom: 16px;

}

.errorCaption{
    height: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    color: #EB4335;
}

.inputField_icon {path {fill: #000842;}}

.inputField_icon_error {path {fill: #EB4335;}}

