body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'OpenSans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  @font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/OpenSans-Regular.woff2') format('woff');
  }
  
  @font-face {
    font-family: 'OpenSans';
    font-style: semibold;
    font-weight: 600;
    src: url('./fonts/OpenSans-SemiBold.woff2') format('woff');
  }